@font-face {
    font-family: SourceSerifPro;
    src: url(../font/SourceSerifPro/SourceSerifPro-Regular.ttf);
}

@font-face {
    font-family: SonsieOne;
    src: url(../font/SonsieOne/SonsieOne-Regular.ttf);
}


body {
    background-color: rgba(white, white, rgb(168, 168, 226), alpha);
}

nav {
    background-color: #219ebc;
    border-radius: 0 0 40px 40px;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    bottom: 10px;
    z-index: 9999;
}

nav a img {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin-inline: 50px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.image img {
    background-position: center;
    height: 70vh;
    width: 100%;
    border-radius: 0 0 30px 30px;
    object-fit: cover;
    object-position: 100%;
}

.hero {
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: 0% 60%;
    border-radius: 0 0 40px 40px;
    background-image: url("/assets/Pribadi/img/school.jpg");
}

.hero::before {
    content: "";
    background-image: url("/assets/Pribadi/img/school.jpg");
}

.hero img {
    height: 90px;
    width: 90px;
    position: relative;
    top: 190px;
    left: 237px;
}

.hero h1 {
    padding-top: 100px;
    text-align: center;
    font-family: SonsieOne;
    color: gold;
    font-size: 37px;
}

.container {
    background: white;
    border-radius: 40px 40px 0 0;
    box-sizing: border-box;
    margin-top: -25px
}

.Pelajar,
.Kelas,
.Guru {
    background: #219ebc;
    border-radius: 20px 20px 20px 20px;
}

.card p {
    font-family: SourceSerifPro;
    margin: 0px;
    font-size: 1rem;
    color: white;
}

.profil card {
    height: 2000px;
}



/*
.tulisan img {
    width: 100px;
    height: 100px;
}*/