@font-face {
    font-family: SourceSerifPro;
    src: url(../font/SourceSerifPro/SourceSerifPro-Regular.ttf);
}

@font-face {
    font-family: SonsieOne;
    src: url(../font/SonsieOne/SonsieOne-Regular.ttf);
}

body {
    background-color: rgba(white, white, rgb(168, 168, 226), alpha);
}

@media (min-width: 992px) {
    nav {
        background-color: #219ebc;
        border-radius: 0 0 40px 40px;
        position: fixed;
        top: 0px;
        width: 100%;
        height: 50px;
        bottom: 10px;
        z-index: 9999;
    }
    nav a img {
        width: 40px;
        height: 40px;
        margin-top: 5px;
    }
    nav ul li {
        list-style: none;
        display: inline-block;
        margin-inline: 2rem;
    }
    nav ul li a {
        text-decoration: none;
        font-size: 16px;
        font-family: SourceSerifPro;
    }
    .navToggleIcon {
        display: none;
    }
    .NameBrands {
        display: none;
    }
    .hero {
        width: 100%;
        height: 70vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0% 60%;
        border-radius: 0 0 30px 30px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/Pribadi/img/school.jpg");
        background-position: center center;
        /* background-attachment: fixed; */
    }
    .hero-text {
        line-height: 70vh;
        text-align: center;
    }
    .hero-text img {
        height: 90px;
        width: 90px;
        margin-bottom: 60px;
        margin-right: 15px;
    }
    .hero-text h1 {
        display: inline-block;
        font-family: SonsieOne;
        color: gold;
        font-size: 37px;
        text-shadow: 2px 2px 4px #000000;
    }
    .teksQuotes {
        display: none;
    }
    .tombolDaftar {
        display: none;
    }
    .light-darkModes {
        display: none;
    }
    .container {
        background: white;
        border-radius: 40px 40px 0 0;
        box-sizing: border-box;
        margin-top: -3rem
    }
    .Pelajar,
    .Kelas,
    .Guru {
        background: #219ebc;
        border-radius: 20px 20px 20px 20px;
        filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.25));
    }
    .card p {
        font-family: SourceSerifPro;
        margin: 0px;
        font-size: 2rem;
        color: white;
    }
    .card-profil {
        height: 2000px;
        color: black;
        margin: 0.60rem;
        padding: 5px;
        text-align: center;
        font-family: SourceSerifPro;
        background: #FFFDFD;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.50);
        border-radius: 40px 40px 0px 0px;
    }
}